<p>these will be tasks</p>



<% @tasks.each do |task| %>
  <div data="#{task.id}">
    <%= task.name %>
  </div>
  <div>
    <!-- priority.name -->
  </div>
  <div>
    Budgeted Time: <%= task.time_as_string(task.budgeted_time) %>
  </div>
  <div>
    <%= task.kind %>
  </div>
  <div>
    Total Time: <%= task.total_time.blank? ? 0 : task.time_as_string(task.total_time) %>
  </div>
  <div>
    <%= task.task_type %>
  </div>
<% end %>


