<p>these will be tasks</p>



<% @tasks.each do |task| %>
  <div data="#{task.id}">
    <%= task.name %>
  </div>
  <div>
    <!-- priority.name -->
  </div>
  <div>
    Budgeted Time: <%= task.calculate_hours(task.budgeted_time) %> hours, <%= task.calculate_hours(task.budgeted_time) %> minutes
  </div>
  <div>
    <%= task.kind %>
  </div>
  <div>
    <%= task.budgeted_time %>
  </div>
  <div>
    <%= task.total_time %>
  </div>
  <div>
    <%= task.task_type %>
  </div>
<% end %>


